#section5{
	.body{
		background-image: url('../images/platform.png');
		height: 50vh;
		background-position: bottom;
		background-repeat:no-repeat;
		margin-bottom: 150px;
		.title{
			margin-bottom: 100px;
		}
		.text{
			width:330px;
			float: right;
			margin-right: 50px;
			.desc{
				color: $c8;
				text-align: justify;
				font-weight: 500;
				margin-bottom: 30px;
				span{
					color: $c10;
				}
			}
			&:before{
				content:"";
				display: table;
				clear: both;
			}
			&:after{
				content:"";
				display: table;
				clear: both;
			}
		}
	}
}
@media (max-width: 1366px) {
	#section5{
		.body{
			background-position: center;
		}
	}
}
@media (max-width: 1024px) {
	#section5{
		.body{
			background-position: right;
			.text{
				.desc{
					
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#section5{
		.body{
			background-position: center;
		}
	}
}

@media (max-width: 414px) {
	#section5{
		.body{
			background-image:none;
			margin-bottom: 30px;
			.title{
				margin-bottom: 30px;
			}
			.text{
				float:none;
				margin-right:0;
				width:100%;
			}		
		}
	}
}