#section8{
	.body{
		padding:50px 0;
		.title{
			margin-bottom: 60px;
		}
		.bottom{
			.desc{
				margin-bottom: 30px;
				font-weight: 500;
				text-align: justify;
				margin-top: 90px;
				line-height: 1.7;
			}
			.image{
				margin-bottom: 30px;
			}
		}
	}
}
@media (max-width: 768px) {
	#section8{
		.body{
			.title{
				margin-bottom: 30px;
			}
			.bottom{
				.desc{
					margin-top: 0;
				}
			}
		}
	}
}