$f1: 'caros', sans-serif;

$c-facebook: #3b5998; 
$c-google: #d62d20;
$c-twitter: #00b2ff;
$c-youtube: #de0000;
$c-linkedin: #0077b5;
$c-instagram: #c1558b;
$c-pinterest: #bd081c;
$c0:#000000;
$c1:#4e6aff;
$c2:#0c0d10;
$c3:#9c9c9c;
$c4:#464fff;
$c5:#000738;
$c6:#2e2e2e;
$c7:#25282b;
$c8:#080808;
$c9:#111111;
$c10:#5e6cd6;
$c11:#f8fbff;
$c12:#c4c4c4;
$c13:#000000;
$c14:#0079ff;
$c15:#ffffff;
$c16:#f9f6f6;
$c17:#0c0d10;
$c18:#1823ff;
$c19:#000738;
$c20:#070707;
$c21:#5e6cd6;
$c22:#8b8b8b;
$c23:#f9f6f6;
$c24:#4d69ff;
$c25:#ffcc00;
$c26:#009900;
$c27: #2db300;
$c28:#004080;
$c29:#5e6cd6;
$c30:#5e6cd669;
$c31:#1584ff;
$c32:#377cff;
$c33:#159cff;
$c34:#15b2ff;
$c35:#14caff;
$c36:#15e6ff;
$c37:#9da8f9;
$c38:#3640419e;
$c39:#fd0d0d;
$c40:#b3b3b3;
$c41:#7eba55;

